.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  text-align: center;
  font-size: 30px!important;
}

.navdecor{
  border: 2px solid brown;
  border-radius : 20%;
}

.search{
  color : rgb(95, 2, 2)!important;
  background-color: lightgreen;
}

.spacing{
  padding-left : 1rem;
  padding-right : 1rem;
}

.cardspace{
  padding-left: 15%;
  padding-right: 15%;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
}

.home{
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(95, 2, 2)!important;
}

img {
  width : 80px;
  height : 60px; 
}

.articles{
  color : black;
  background-color: white;
  font-size: 1rem;
}

.articlecard{
  border : 1px solid black;
}

@media (max-width: 768px) {
  .navbar-collapse { position : absolute; }
}

.caracteristics{
  padding-top: 1%;
  padding-left: 5%; 
}

.sidebar{
  background-color: lightgreen;
  border: 3px solid brown;
  padding-top: 5px;
}

.nomargin{
  margin : 0!important;
}

.nopadding{
  padding : 0!important;
}

.space10{
  padding-top: 10px;
}

.space30{
  padding-top: 30px;
}

.margin30{
  margin-top: 30px;
}

.catalog{
  padding-left: 10px;
}

.card-img, .card-img-top {
  height: 20rem;
}